<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quara information</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>QUARA TEXT </h1>
    <div class="main">
         <% for( post of posts ) { %>
           <h3 class="user">@<%= post.username %></h3>
              <p class="content"><%= post.content %></p>
         <% } %>
    </div>
</body>
</html>